/config/staging
/config/development
/config/production
/config/fortrabbit
/config/ubuntu
/config/packages/anahkiasen/rocketeer/
/public/logo
/public/build
/public/packages
/public/vendor
/resources/assets/bower
/storage
/bootstrap/compiled.php
/bootstrap/environment.php
/vendor
/node_modules
/.DS_Store
Thumbs.db
/.env
/.env.development.php
/.env.php
/docs/_build
/error_log
/auth.json
/public/error_log
/Modules

/ninja.sublime-project
/ninja.sublime-workspace
/.phpstorm.meta.php
/_ide_helper.php
/.idea
/.project
tests/_output/
tests/_bootstrap.php
tests/_support/_generated/

# composer stuff
/c3.php

_ide_helper.php
