/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/tests/_output
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
local_version.txt
.env
.phpunit.result.cache

/resources/assets/bower
/public/logo
/storage/*
.env.dusk.local
/public/vendors/*
*.log

# Ignore local migrations
storage/migrations
nbproject

.php_cs.cache
public/test.pdf
public/storage/test.pdf
