/app/config/staging
/app/config/development
/app/config/fortrabbit
/app/storage
/public/logo
/public/build
/public/vendor
/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
Thumbs.db
app.yaml
database.sql