<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule "^.env" - [F,L]
  RewriteRule "^storage" - [F,L]
  
  # https://coderwall.com/p/erbaig/laravel-s-htaccess-to-remove-public-from-url
  # RewriteRule ^(.*)$ public/$1 [L]
  
  ## Enable these two lines if you want to restrict/force access to HTTPS only:
  # RewriteCond %{HTTPS} off
  # RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

  # Enable this if your installation is on a subdomain
  # RewriteBase /
</IfModule>
