includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 2
    paths:
        - 'app/'
    excludePaths:
        - 'vendor/'
        - 'app/Jobs/Ninja/*'
        - 'app/Console/Commands/*'
        - 'app/DataMapper/Analytics/*'
    universalObjectCratesClasses:
        - App\DataMapper\Tax\RuleInterface
        - App\DataMapper\FeesAndLimits
    ignoreErrors:
        - '#Call to an undefined method Illuminate\Database\Database\Eloquent\Builder::company()#'