includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon
parameters:
    treatPhpDocTypesAsCertain: false
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 1
        processTimeout: 60.0
    ignoreErrors:
        - '#Call to an undefined method .*badMethod\(\)#'
        - '#Call to an undefined method Illuminate\Database\Eloquent\Builder::exclude#'
    level: 4
    paths:
        - 'app/'
    excludePaths:
        - 'vendor/'
    universalObjectCratesClasses:
        - App\DataMapper\Tax\RuleInterface