
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import "node_modules/bulma/bulma";
@import "node_modules/bulma-extensions/src/sass/index.sass";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
