div.required > label {
    font-weight: bold !important;
}

label.checkbox,
label.control-label {
    font-weight: normal !important;
}




div.panel {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.less-space-bottom {
    padding-bottom: 4px !important;
    margin-bottom: 4px !important;
}

/* DataTables and BootStrap */
.dataTables_wrapper {
    padding-top: 16px;
}

table.table thead > tr > th {
    border-bottom-width: 0px;
}

/*
table.dataTable tr.odd {  background-color: white; }
table.dataTable tr.even { background-color: #f9f9f9; }
*/

table.dataTable tr.odd td.sorting_1 { background-color: white; }
table.dataTable tr.odd td.sorting_2 { background-color: white; }
table.dataTable tr.odd td.sorting_3 { background-color: white; }
table.dataTable tr.even td.sorting_1 { background-color: white; }
table.dataTable tr.even td.sorting_2 { background-color: white; }
table.dataTable tr.even td.sorting_3 { background-color: white; }



/* hide table sorting indicators */
table.table thead .sorting { background: url('') no-repeat center right; }


/* Hover nav */
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}


.invoice-table tbody {
    border-style: none !important;
}

/*
table.invoice-table tbody tr:hover {
    background-color: #FFFFFF !important;
}
*/

.invoice-table td {
    padding: 2px !important;
}

.invoice-table td input,
.invoice-table td textarea {
    border: none !important;
    width: 100%;
}

.invoice-table th {
    border-top: 1px solid #ddd !important;      
}

.invoice-table td.hide-border,
.invoice-table th.hide-border {
    border-style: none !important;
}

.invoice-table td.td-icon {
    vertical-align: middle !important;
}

.fa-bars {
    cursor: move !important;
}

.closer-row {
    margin-bottom: 2px;
}


/* Animate col width changes */
body {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}





.navbar-default {
    background-color: #428bff;
    border-color: #3276b1;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #3276b1;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #3276b1;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #3276b1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #3276b1;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
}