<table border="0" cellpadding="0" cellspacing="0" width="100%">

	<tr class="grey-bg">
		<td><img src="$logoUrl" width="193"/></td>
		<td align="right"><p class="quote quote-number grey-upper">Proposal #$quoteNumber</p></td>
	</tr>

	<tr class="top-header grey-bg">
		<td colspan="2" align="center">
			<h1 class="cover-heading">New Business Proposal</h1>
			<p class="quote quoteDate grey-upper">Valid Until $validUntil</p>
		</td>
	</tr>

	<tr align="center" class="grey-bg proposal-info">
		<td width="50%">
			<p class="blue-upper">Prepared for:</p>
			<h3 class="client name">$client.name</h3>
			<p>
				<span class="client address1">$client.address1</span><br/>
				<span class="client city">$client.city</span>, <span class="client state">$client.state</span> <span class="client postal-code">$client.postal_code</span>
			</p>
		</td>
		<td width="50%">
			<p class="blue-upper">Prepared by:</p>
			<h3 class="account name">$account.name</h3>
			<p>
				<span class="account address1">$account.address1</span><br/>
				<span class="account city">$account.city</span>, <span class="account state">$account.state</span> <span class="account postal-code">$account.postal_code</span></p>
			</td>
		</tr>
	</td>
</tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="2" class="card-content">
			<h2 class="card-title">PROJECT DESCRIPTION:</h2>
			<p class="card-text">Koala Photography seeks a full review of their historical financial records and future accounting needs. At the start, our experts carefully review your past records and assess your financial services needs according to the nature of your company and suggest the services model best suited to your requirements. The work plan is finalized only after an initial (and possibly subsequent) extensive consultation with [Client.Company]. Periodic review of our services and client feedback is an essential feature of our work plan which ensures that we remain an efficient accounting partner for your business.</p><br/>
		</td>
	</tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="2">
			<hr/>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td class="grid-item-card card-content">
			<h2 class="card-title">OBJECTIVE:</h2>
			<p class="card-text">Koala Photography seeks a full review of their historical financial records and future accounting needs. At the start, our experts carefully review your past records and assess your financial services needs according to the nature of your company and suggest the services model best suited to your requirements. The work plan is finalized only after an initial (and possibly subsequent) extensive consultation with [Client.Company]. Periodic review of our services and client feedback is an essential feature of our work plan which ensures that we remain an efficient accounting partner for your business.</p>
		</td>
		<td class="grid-item-card card-content">
			<h2 class="card-title">GOAL:</h2>
			<p class="card-text">Koala Photography seeks a full review of their historical financial records and future accounting needs. At the start, our experts carefully review your past records and assess your financial services needs according to the nature of your company and suggest the services model best suited to your requirements. The work plan is finalized only after an initial (and possibly subsequent) extensive consultation with [Client.Company]. Periodic review of our services and client feedback is an essential feature of our work plan which ensures that we remain an efficient accounting partner for your business.</p>
		</td>
	</tr>
</table>

<table>
	<tr class="block-quote" align="center">
		<td colspan="2">
			<img src="$quoteImageUrl" width="25"/>
			<p class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue auctor magna id sodales. Maecenas mollis justo sed tempor facilisis. Ut malesuada in nibh ultrices auctor. Proin id maximus ipsum. Sed eu magna ac nisl sollicitudin porta in non augue. Mauris feugiat interdum aliquam. Aliquam ultrices interdum dolor.</p>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td class="card-content">
			<img width="150px" srcx="img/thumb-square.jpg"/>
		</td>
		<td class="card-content">
			<h2 class="card-title">OBJECTIVE:</h2>
			<p class="card-text">Koala Photography seeks a full review of their historical financial records and future accounting needs. At the start, our experts carefully review your past records and assess your financial services needs according to the nature of your company and suggest the services model best suited to your requirements. The work plan is finalized only after an initial (and possibly subsequent) extensive consultation with [Client.Company]. Periodic review of our services and client feedback is an essential feature of our work plan which ensures that we remain an efficient accounting partner for your business.</p>
		</td>
	</tr>
	<tr>
		<td class="card-content">
			<img width="150px" srcx="img/thumb-square.jpg"/>
		</td>
		<td class="card-content">
			<h2 class="card-title">OBJECTIVE:</h2>
			<p class="card-text">Koala Photography seeks a full review of their historical financial records and future accounting needs. At the start, our experts carefully review your past records and assess your financial services needs according to the nature of your company and suggest the services model best suited to your requirements. The work plan is finalized only after an initial (and possibly subsequent) extensive consultation with [Client.Company]. Periodic review of our services and client feedback is an essential feature of our work plan which ensures that we remain an efficient accounting partner for your business.</p>
		</td>
	</tr>
</table>

<table>
	<tr>
		<td colspan="2">
			<hr/>
		</td>
	</tr>

	<tr>
		<td class="grid-item-card card-content">
			<img/>
			<h2 class="card-title">OBJECTIVE:</h2>
			<p class="card-text">Koala Photography seeks a full review of their historical financial records and future accounting needs. At the start, our experts carefully review your past records and assess your financial services needs according to the nature of your company and suggest the services model best suited to your requirements. The work plan is finalized only after an initial (and possibly subsequent) extensive consultation with [Client.Company]. Periodic review of our services and client feedback is an essential feature of our work plan which ensures that we remain an efficient accounting partner for your business.</p>
		</td>
		<td class="grid-item-card card-content">
			<img/>
			<h2 class="card-title">GOAL:</h2>
			<p class="card-text">Koala Photography seeks a full review of their historical financial records and future accounting needs. At the start, our experts carefully review your past records and assess your financial services needs according to the nature of your company and suggest the services model best suited to your requirements. The work plan is finalized only after an initial (and possibly subsequent) extensive consultation with [Client.Company]. Periodic review of our services and client feedback is an essential feature of our work plan which ensures that we remain an efficient accounting partner for your business.</p>
		</td>
	</tr>

	<tr class="footer" align="center">
		<td colspan="2"></td>
	</tr>

</table>
