<style id="style">
    :root {
        --primary-color: $primary_color;
        --secondary-color: $secondary_color;
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: Arial, Helvetica, sans-serif;
        font-size: "$font_size";
        zoom: 80%;
    }

    @page {
        margin: $global_margin;
        size: $page_size $page_layout;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .header-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .company-logo {
        zoom: 50%; /** Adapt the zoom size, if you think it's necessary. **/
    }

    .header-wrapper #client-details,
    .header-wrapper #company-details,
    .header-wrapper #company-address {
        display: flex;
        flex-direction: column;
    }

    [data-ref="company_details-company.name"] {
        color: var(--primary-color);
        font-weight: bold;
    }

    .header-wrapper #client-details > *:first-child {
        font-weight: bold;
    }

    .header-wrapper .company-info-wrapper > * {
        margin-bottom: 1rem;
    }

    .entity-label-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-top: 3rem;
    }

    .entity-label-wrapper .entity-label > * {
        font-size: 3rem;
    }

    .entity-label-wrapper .entity-label > *:first-child {
        text-transform: uppercase;
    }

    .entity-label-wrapper .entity-label > *:last-child {
        color: var(--primary-color);
        font-style: italic;
    }

    .entity-label-wrapper #entity-details {
        text-align: left;
    }

    .entity-label-wrapper #entity-details > tr,
    .entity-label-wrapper #entity-details th {
        font-weight: normal;
    }

    #product-table,
    #delivery-note-table,
    #task-table {
        /* margin-bottom: 200px; */
        min-width: 100%;
        table-layout: fixed;
        overflow-wrap: break-word;
    }

    #product-table:not(:empty),
    #delivery-note-table:not(:empty),
    #task-table:not(:empty) {
        border-top: 5px solid var(--primary-color);
        margin-top: 3rem;
    }


    .task-time-details {
        display: block;
        color: grey;
        font-weight: normal;
    } /** Backwards compatibility with version with span. */

    #product-table h1, h2, h3, h4, h5, h6, p,
    #delivery-note-table h1, h2, h3, h4, h5, h6, p,
    #task-table h1, h2, h3, h4, h5, h6, p {
        margin: 0 !important;
    }

    #product-table > tbody > tr > td > h3,
    #delivery-note-table > tbody > tr > td > h3,
    #task-table > tbody > tr > td > h3 {
        font-size: 100% !important;
        font-weight: normal;
        color: grey;
    } /** Backwards compatibility with version 4. */

    #product-table > thead,
    #delivery-note-table > thead,
    #task-table > thead {
        text-align: left;
    }

    #product-table > thead > tr > th,
    #delivery-note-table > thead > tr > th,
    #task-table > thead > tr > th {
        font-size: 1.1rem;
        padding: 1rem;
    }

    #product-table > thead > tr > th:last-child,
    #delivery-note-table > thead > tr > th:last-child,
    #task-table > thead > tr > th:last-child {
        text-align: right;
    }

    #product-table > tbody > tr > td:last-child,
    #delivery-note-table > tbody > tr > td:last-child,
    #task-table > tbody > tr > td:last-child {
        text-align: right;
    }

    #product-table > tbody > tr > td,
    #delivery-note-table > tbody > tr > td,
    #task-table > tbody > tr > td {
        padding: 1rem;
    }

    #product-table > tbody > tr:nth-child(odd),
    #delivery-note-table > tbody > tr:nth-child(odd),
    #task-table > tbody > tr:nth-child(odd) {
        background-color: #e8e8e8;
    }

    #table-totals {
        page-break-inside: avoid;
    }

    #table-totals {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding-top: 1rem;
        gap: 80px;
    }

    #table-totals .totals-table-right-side>* {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #table-totals>.totals-table-right-side>*> :nth-child(1) {
        text-align: left;
    }

    #table-totals>.totals-table-right-side>*> :nth-child(2) {
        text-align: right;
    }

    #table-totals
    > *
    [data-element='product-table-balance-due'] {
        font-weight: bold;
        color: var(--primary-color);
    }

    #table-totals > * > * {
        padding-left: 1rem;
    }

    #table-totals > * > :last-child {
        text-align: right;
        padding-right: 1rem;
    }

    [data-ref="total_table-footer"] {
        padding-left: 1rem
    }

    #footer {
        margin-top: 30px;
    }
</style>

<div id="header"></div>

<div id="body">
    <div class="header-wrapper">
        <div id="client-details"></div>

        <div class="company-info-wrapper">
            <div id="company-details"></div>
            <div id="company-address"></div>
        </div>

        <img
            class="company-logo"
            src="$company.logo"
            alt="$company.name logo"
        />
    </div>

    <div class="entity-label-wrapper">
        <h1 class="entity-label">
            <span>$entity_label</span>&nbsp;
            <span>#$entity_number</span>
        </h1>

        <table id="entity-details" cellspacing="0"></table>
    </div>

    <table id="product-table" cellspacing="0"></table>

    <table id="task-table" cellspacing="0"></table>

    <table id="delivery-note-table" cellspacing="0"></table>

    <div id="table-totals" cellspacing="0"></div>
</div>

<div id="footer">
    <p data-ref="total_table-footer">$entity_footer</p>

    <script>
        // Sparkles of JavaScript that will make PDFs better.
        // They're completely optional & you're free modify them to suit your needs.

        document.addEventListener('DOMContentLoaded', () => {
            // Previously we've been decoding the HTML on the backend and XML parsing isn't good options because it requires,
            // strict & valid HTML to even output/decode. Decoding is now done on the frontend with this piece of Javascript.
            document.querySelectorAll(`[data-state="encoded-html"]`).forEach((element) => element.innerHTML = element.innerText);

            // Better handling of empty space & new lines (breaks).
            ['product-table', 'task-table', 'delivery-note-table'].forEach((tableIdentifier) => {
                document.querySelectorAll(`#${tableIdentifier} > tbody > tr > td`).forEach((tdNode) => {
                    // Remove the break tags, if they're last in the content.
                    if (tdNode.lastChild?.nodeName === 'BR') {
                        tdNode.removeChild(tdNode.lastChild);
                    }
                });

                // Remove <br> between h3 tags, to save some space.
                document.querySelectorAll(`#${tableIdentifier} > tbody > tr > td > h3`).forEach((h3Node) => {
                    if (h3Node.nextSibling?.nodeName === 'BR') {
                        h3Node.parentNode.removeChild(h3Node.nextSibling);
                    }
                });
            });

            // By default all table headers are hidden with HTML `hidden` property.
            // This will check for table data values & if they're not empty it will remove hidden from the column itself.
            document.querySelectorAll("#product-table > tbody > tr > td, #task-table > tbody > tr > td, #delivery-note-table > tbody > tr > td").forEach(e => {
                if ("" !== e.innerText) {
                    let t = e.getAttribute("data-ref").slice(0, -3);
                    document.querySelector(`th[data-ref="${t}-th"]`).removeAttribute("hidden");
                }
            });

            document.querySelectorAll("#product-table > tbody > tr > td, #task-table > tbody > tr > td, #delivery-note-table > tbody > tr > td").forEach(e => {
                let t = e.getAttribute("data-ref").slice(0, -3);
                t = document.querySelector(`th[data-ref="${t}-th"]`);

                if (!t.hasAttribute('hidden')) {
                    return;
                }

                if ("" === e.innerText) {
                    e.setAttribute('hidden', 'true');
                }
            });

            // Clear up space a bit, if [product-table, tasks-table, delivery-note-table] isn't present.
            ['product-table', 'task-table', 'delivery-note-table'].forEach((tableIdentifier) => {
                document.getElementById(tableIdentifier).childElementCount === 0
                    ? document.getElementById(tableIdentifier).style.display = 'none'
                    : '';
            });
        });
    </script>
</div>
