<style id="style">
    :root {
        --primary-color: $primary_color;
        --secondary-color: $secondary_color;
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: Arial, Helvetica, sans-serif;
        font-size: "$font_size";
    }

    @page {
        margin: $global_margin;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .company-logo-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 2.5rem;
        border-bottom: 4px solid;
    }

    .company-logo-wrapper .company-logo {
        height: 5rem;
    }

    .double-border {
        margin-top: 3px;
        border-color: black;
    }

    .client-entity-wrapper {
        display: grid;
        grid-template-columns: 1.8fr 1.2fr;
        margin-top: 3rem;
        gap: 10px;
    }

    .client-entity-wrapper .wrapper-info-text {
        display: block;
        font-size: 1.5rem;
        font-weight: normal;
    }

    .client-entity-wrapper .wrapper-left-side {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .client-entity-wrapper .wrapper-left-side #client-details,
    .client-entity-wrapper .wrapper-left-side #company-details,
    .client-entity-wrapper .wrapper-left-side #company-address {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
    }

    .client-entity-wrapper .wrapper-left-side .company-info {
        border-left: 1px solid;
        padding-left: 1rem;
    }

    .client-entity-wrapper #entity-details {
        text-align: left;
        margin-top: 0.5rem;
        min-width: 100%;
    }

    .client-entity-wrapper #entity-details > tr,
    .client-entity-wrapper #entity-details th {
        font-weight: normal;
    }

    #product-table,
    #delivery-note-table,
    #task-table {
        margin-top: 3rem;
        /* margin-bottom: 200px; */
        min-width: 100%;
        table-layout: fixed;
        overflow-wrap: break-word;
    }

    .task-duration {
        display: block;
        margin-top: 5px;
        color: grey;
    }

    #product-table > thead,
    #delivery-note-table > thead,
    #task-table > thead {
        text-align: left;
    }

    #product-table > thead > tr > th,
    #delivery-note-table > thead > tr > th,
    #task-table > thead > tr > th {
        font-size: 1.1rem;
        padding-bottom: 1.5rem;
        padding-left: 1rem;
        color: var(--primary-color);
        font-weight: bold;
    }

    #product-table > thead > tr > th:last-child,
    #delivery-note-table > thead > tr > th:last-child,
    #task-table > thead > tr > th:last-child {
        text-align: right;
    }

    #product-table > tbody > tr > td,
    #delivery-note-table > tbody > tr > td,
    #task-table > tbody > tr > td {
        border-bottom: 1px solid;
        padding: 1rem;
    }

    #product-table > tbody > tr > td:last-child,
    #delivery-note-table > tbody > tr > td:last-child,
    #task-table > tbody > tr > td:last-child {
        text-align: right;
    }

    .thanks-label {
        text-align: center;
        margin-top: 6rem;
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 1rem;
        border-bottom: 4px solid;
    }

    #table-totals {
        page-break-inside: avoid;
    }

    #table-totals > * {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        padding-top: 0.5rem;
        padding-left: 1rem;
        gap: 20px;
    }

    #table-totals
    > *
    [data-element='product-table-balance-due-label'],
    #table-totals
    > *
    [data-element='product-table-balance-due'] {
        font-weight: bold;
    }

    #table-totals
    > *
    [data-element='product-table-balance-due'] {
        color: var(--primary-color);
    }

    #table-totals > * > :last-child {
        text-align: right;
        padding-right: 0.5rem;
    }
</style>

<div id="header"></div>

<div id="body">
    <div class="company-logo-wrapper">
        <img
            class="company-logo"
            src="$company.logo"
            alt="$company.name logo"
        />
    </div>

    <hr class="double-border"/>

    <div class="client-entity-wrapper">
        <div class="wrapper-left-side">
            <div class="text-with-client">
                <h2 class="wrapper-info-text">$balance_due_label</h2>

                <div id="client-details"></div>
            </div>

            <div class="company-info">
                <div id="company-details"></div>
                <div id="company-address"></div>
            </div>
        </div>

        <div class="wrapper-right-side">
            <h2 class="wrapper-info-text">$details_label</h2>
            <table id="entity-details" cellspacing="0"></table>
        </div>
    </div>

    <table id="product-table" cellspacing="0"></table>

    <table id="task-table" cellspacing="0"></table>

    <div id="table-totals" cellspacing="0"></div>

    <table id="delivery-note-table" cellspacing="0"></table>
</div>

<p class="thanks-label">$thanks_label!</p>
<hr class="double-border"/>

<div id="footer">$entity_footer</div>

