<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />

        <link rel="stylesheet" href="$app_url/css/tailwindcss@1.4.6.css" />
    </head>

    <body class="$global-margin antialiased break-words bg-white">
        <!-- Company details, address, client details, company logo -->
        <div class="grid grid-cols-12 gap-4" id="header">
            <div class="col-span-4 pl-4 border-l border-black">
                <div id="company-details">
                    <p class="font-semibold text-yellow-600 uppercase">
                        $from_label:
                    </p>
                </div>
                <div id="company-address" class="mt-4"></div>
            </div>
            <div
                class="col-span-5 pl-4 border-l border-black"
                id="client-details"
            >
                <p class="font-semibold text-yellow-600 uppercase">
                    $to_label:
                </p>
            </div>
            <div class="col-span-3">
                <img
                    src="$company.logo"
                    alt="$company.name logo"
                    class="w-24 col-span-4 sm:w-32"
                />
            </div>
        </div>

        <!-- Entity details -->
        <h1 class="mt-6 text-4xl font-semibold uppercase lg:text-5xl">
            $entity_label
        </h1>
        <div
            id="entity-details"
            class="flex flex-wrap items-center space-x-4"
        ></div>

        <!-- Product table -->
        <table id="product-table" class="w-full mt-10 table-auto"></table>
    </body>

    <footer id="footer"></footer>
</html>
