<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />

        <link rel="stylesheet" href="$css" />
    </head>

    <body class="antialiased break-words bg-white">
        <!-- Company name, entity details -->
        <div class="bg-orange-600">
            <div class="$global-padding">
                <div class="grid grid-cols-12">
                    <div class="col-span-4">
                        <h1 class="text-3xl font-bold text-white lg:text-4xl">
                            $company.name
                        </h1>
                    </div>
                    <div class="col-span-7 col-start-6 lg:col-start-7">
                        <table id="entity-details" class="text-white"></table>
                    </div>
                </div>
            </div>
        </div>

        <div class="$global-margin">
            <!-- Company logo, client details -->
            <div class="col-span-12 mb-10">
                <p class="text-xl text-orange-600 font-semibold uppercase">
                    $your_entity_label
                </p>
            </div>
            <div class="grid grid-cols-12">
                <img
                    src="$company.logo"
                    alt="$company.name logo"
                    class="grid w-24 col-span-4 sm:w-32"
                />
                <div id="client-details" class="col-span-8 col-start-6"></div>
            </div>

            <!-- Product table -->
            <table id="product-table" class="w-full mt-8 table-auto"></table>
        </div>

        <!-- Company details -->
        <div class="bg-orange-600">
            <div class="$global-padding">
                <div class="grid grid-cols-12">
                    <div
                        class="flex justify-between col-span-8 col-start-6 lg:col-span-6 lg:col-start-8"
                    >
                        <div id="company-details" class="text-white"></div>
                        <div id="company-address" class="text-white"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <footer id="footer"></footer>
</html>
