<style id="style">
    @import url($font_url);

    :root {
        --primary-color: $primary_color;
        --secondary-color: $secondary_color;
    }

    html {
        width: 210mm;
        height: 200mm;
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: $font_name, Helvetica, sans-serif;
        font-size: $font_size !important;
        zoom: 80%;
        margin: 0;
    }

    table tr td,
    table tr,
    th {
        font-size: $font_size !important;
    }

    @page {
        margin: 0;
        size: $page_size $page_layout;
    }

    @media print {

        .header-wrapper,
        .body-wrapper {
            margin: $global_margin;
        }
    }

    p {
        margin: 0;
        padding: 0;
    }

    /** End of global, standard CSS */
    .header-wrapper {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "a b c";
        grid-auto-columns: minmax(0, 5fr);
        grid-auto-flow: column;
        justify-content: space-between;
    }

    .top-right-side-section {
        display: inline-block;
        flex-direction: column;
        justify-content: flex-end;
        white-space: nowrap;
        vertical-align: top;
    }

    .logo-and-partial-entity-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .company-logo {
        max-width: $company_logo_size;
    }

    .header-invoice-number {
        color: var(--primary-color);
    }

    .header-payment-due-label,
    .header-amount-due-label {
        text-transform: uppercase;
    }

    .header-amount-due-value {
        color: var(--primary-color);
    }

    .hero-section {
        margin-top: 5px;
        min-width: 100% !important;
        background: url('$tech_hero_image');
        /** If you want to replace the image, this is the place to do it. */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
    }

    .hero-contact-section {
        background-color: rgba(255, 255, 255, 0.98);
        margin: 1rem;
        padding: 1rem;
        border-radius: 5px;
    }

    .client-details,
    .company-details {
        display: flex;
        flex-direction: row;
        justify-items: start;
    }

    .spacer {
        display: flex;
    }

    .client-details-to-label {
        text-transform: uppercase;
        font-weight: bold;
        color: var(--primary-color);
        margin-right: 10px;
    }

    .shipping-to-label {
        text-transform: uppercase;
        font-weight: bold;
        color: var(--primary-color);
        margin-right: 10px;
        display: $show_shipping_address;
    }

    #shipping-details {
        display: $show_shipping_address;
        flex-direction: column;
        white-space: nowrap;
    }

    [data-ref="shipping_address-label"] {
        display: none;
    }

    #client-details,
    #company-details,
    #company-address {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
    }

    .company-details-wrapper {
        display: flex;
        flex-direction: column;
    }

    .company-details {
        margin-top: 20px;
    }

    .body-wrapper {}

    [data-ref="table"] {
        min-width: 100%;
        table-layout: fixed;
        overflow-wrap: break-word;
        margin-top: 3rem;
    }

    [data-ref="table"]>thead>tr>th {
        text-transform: uppercase;
        font-weight: normal;
        padding: 1rem;
        border-bottom: 5px solid black;
        text-align: left;
        font-size: 1.1rem;
    }

    [data-ref="table"]>thead>tr>th:last-child {
        text-align: right;
    }

    [data-ref="table"]>tbody>tr>td {
        border-bottom: 1px solid #e6e6e6;
        padding: 1rem;
    }

    [data-ref="table"]>tbody>tr>td:first-child {
        color: var(--primary-color);
    }

    [data-ref="table"]>tbody>tr>td:last-child {
        text-align: right;
    }

    .task-time-details {
        display: block;
        margin-top: 5px;
        color: grey;
    }

    #table-totals {
        page-break-inside: avoid;
    }

    #table-totals {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 80px;
        margin-right: .5rem;
    }

    #table-totals .totals-table-right-side>* {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #table-totals>.totals-table-right-side>*> :nth-child(1) {
        text-align: $dir_text_align;
        padding: 7px;
    }

    #table-totals>.totals-table-right-side>*> :nth-child(2) {
        text-align: right;
        padding: 7px;
    }

    #table-totals>* [data-element='total-table-balance-due-label'],
    #table-totals>* [data-element='total-table-balance-due'] {
        font-weight: bold;
    }

    #table-totals>*> :last-child {
        text-align: right;
        padding-right: 1rem;
    }

    [data-ref="total_table-footer"] {
        padding-left: 1.5rem;
        padding-right: 2rem;
    }

    [data-ref="totals_table-outstanding-label"],
    [data-ref="totals_table-outstanding"] {
        background-color: var(--primary-color);
        color: white;
    }

    #footer {
        margin-top: 30px;
    }

    /** Markdown-specific styles. **/
    [data-ref="table"] h3 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    [data-ref*=".line_total-td"] {
        white-space: nowrap;
    }

    /** .repeating-header,
    .repeating-header-space, **/
    .repeating-footer,
    .repeating-footer-space {
        height: 10px;
    }

    .repeating-header {
        position: fixed;
        top: 0;
    }

    .repeating-footer {
        position: fixed;
        bottom: 0;
    }


    [data-ref='product_table-product.description-td'],
    [data-ref='task_table-task.description-td'] {
        min-width: 150px !important;
        overflow-wrap: break-word;
    }

    [data-ref='product_table-product.item-th'],
    [data-ref='task_table-task.service-th'] {
        width: 10%;
    }

    .stamp {
        transform: rotate(12deg);
        color: #555;
        font-size: 3rem;
        font-weight: 700;
        border: 0.25rem solid #555;
        display: inline-block;
        padding: 0.25rem 1rem;
        text-transform: uppercase;
        border-radius: 1rem;
        font-family: 'Courier';
        mix-blend-mode: multiply;
        z-index: 200 !important;
        position: fixed;
        text-align: center;
    }

    .is-paid {
        color: #D23;
        border: 1rem double #D23;
        transform: rotate(-5deg);
        font-size: 6rem;
        font-family: "Open sans", Helvetica, Arial, sans-serif;
        border-radius: 0;
        padding: 0.5rem;
        opacity: 0.2;
        z-index: 200 !important;
        position: fixed;
        display: $show_paid_stamp;

    }

    .project-header {
        font-size: 1.2em;
        margin-top: 0.1em;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        color: #505050;
    }

    .pqrcode {}

    #qr-bill {
        width: 100% !important;
    }

    /** Useful snippets, uncomment to enable. **/

    /** Hide company logo **/
    /* .company-logo { display: none } */

    /* Hide company details */
    /* #company-details > * { display: none } */

    /* Hide company address */
    /* #company-address > * { display: none } */

    /* Hide public notes */
    /* [data-ref="total_table-public_notes"] { display: none } */

    /* Hide terms label */
    /* [data-ref="total_table-terms-label"] { display: none } */

    /* Hide totals table */
    /* #table-totals { display: none } */

    /* Hide totals table left side */
    /* #table-totals div:first-child > * { display: none !important } */

    /* Hide totals table right side */
    /* .totals-table-right-side { display: none } */

    /** For more info, please check our docs: https://invoiceninja.github.io **/
    /** To find out selectors on your own: https://invoiceninja.github.io/docs/custom-fields/#snippets **/
</style>

<table style="min-width: 100%">
    <thead>
        <tr>
            <td>
                <div class="repeating-header-space">&nbsp;</div>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div id="body">
                    <div class="header-wrapper">
                        <div class="logo-and-partial-entity-info">
                            <div class="company-logo-wrapper">
                                <img class="company-logo" src="$company.logo" alt="$company.name logo">
                            </div>
                        </div>
                        <div class="spacer"></div>
                        <div class="top-right-side-section">
                            <table style="white-space: nowrap;" cellspacing="10">
                                <tr>
                                    <td>$entity_number_label:</td>
                                    <td class="header-invoice-number">$entity_number</td>
                                </tr>
                                <tr>
                                    <td>$date_label </td>
                                    <td>$date</td>
                                </tr>
                                <tr class="header-payment-due-label">
                                    <td>$payment_due_label </td>
                                    <td>$due_date</td>
                                </tr>
                                <tr>
                                    <td class="header-amount-due-label">$amount_due_label</td>
                                    <td class="header-amount-due-value">$balance_due</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="hero-section">
                        <div class="hero-contact-section">
                            <div class="client-details">
                                <span class="client-details-to-label">$to_label:</span>
                                <div id="client-details"></div>
                                <div id="vendor-details"></div>
                                <span class="shipping-to-label">$shipping_label:</span>
                                <div id="shipping-details"></div>
                            </div>
                            <div class="company-details">
                                <span class="client-details-to-label">$from_label:</span>
                                <div class="company-details-wrapper">
                                    <div id="company-details"></div>
                                    <div id="company-address"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body-wrapper">
                        <table id="product-table" cellspacing="0" data-ref="table"></table>
                        <table id="task-table" cellspacing="0" data-ref="table"></table>
                        <table id="delivery-note-table" cellspacing="0" data-ref="table"></table>
                        <table id="statement-invoice-table" cellspacing="0" data-ref="table"></table>
                        <div id="statement-invoice-table-totals" data-ref="statement-totals"></div>
                        <table id="statement-payment-table" cellspacing="0" data-ref="table"></table>
                        <div id="statement-payment-table-totals" data-ref="statement-totals"></div>
                        <table id="statement-credit-table" cellspacing="0" data-ref="table"></table>
                        <div id="statement-credit-table-totals" data-ref="statement-totals"></div>
                        <table id="statement-aging-table" cellspacing="0" data-ref="table"></table>
                        <div id="statement-aging-table-totals" data-ref="statement-totals"></div>
                        <div id="table-totals" cellspacing="0">$status_logo</div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>
                <div class="repeating-footer-space">&nbsp;</div>
            </td>
        </tr>
    </tfoot>
</table>

<div class="repeating-header" id="header"></div>

$entity_images

<div class="repeating-footerx" id="footer">
    <p data-ref="total_table-footer">$entity_footer</p>

</div>