<style id="style">
    :root {
        --primary-color: $primary_color;
        --secondary-color: $secondary_color;
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: Arial, Helvetica, sans-serif;
        font-size: "$font_size";
        zoom: 80%;
        margin: 0;
    }

    @page {
        margin: 0;
        size: $page_size $page_layout;
    }

    @media print {
        .header-wrapper,
        .body-wrapper {
            margin: $global_margin;
        }
    }

    p {
        margin: 0;
        padding: 0;
    }

    /** End of global, standard CSS */
    .header-wrapper {
        display: flex;
        flex-direction: column;
    }

    .top-right-side-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .top-right-side-section > * {
        margin-left: 1.5rem;
    }

    .logo-and-partial-entity-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .company-logo {
        zoom: 50%;
    }

    .header-invoice-number {
        color: var(--primary-color);
    }

    .header-payment-due-label,
    .header-amount-due-label {
        text-transform: uppercase;
    }

    .header-amount-due-value {
        color: var(--primary-color);
    }

    .hero-section {
        margin-top: 50px;
        min-width: 100% !important;
        background: url('$tech_hero_image'); /** If you want to replace the image, this is the place to do it. */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
    }

    .hero-contact-section {
        background-color: rgba(255, 255, 255, 0.98);
        margin: 1rem;
        padding: 1rem;
        border-radius: 5px;
    }

    .client-details,
    .company-details {
        display: flex;
        flex-direction: row;
        justify-items: start;
    }

    .client-details-to-label {
        text-transform: uppercase;
        font-weight: bold;
        color: var(--primary-color);
        margin-right: 10px;
    }

    #client-details,
    #company-details,
    #company-address {
        display: flex;
        flex-direction: column;
    }

    .company-details-wrapper {
        display: flex;
        flex-direction: column;
    }

    .company-details {
        margin-top: 20px;
    }

    .body-wrapper {}

    #product-table,
    #delivery-note-table,
    #task-table {
        min-width: 100%;
        table-layout: fixed;
        overflow-wrap: break-word;
        margin-top: 3rem;
    }

    #product-table > thead > tr > th,
    #delivery-note-table > thead > tr > th,
    #task-table > thead > tr > th {
        text-transform: uppercase;
        font-weight: normal;
        padding: 1rem;
        border-bottom: 5px solid black;
        text-align: left;
        font-size: 1.1rem;
    }

    #product-table > thead > tr > th:last-child,
    #delivery-note-table > thead > tr > th:last-child,
    #task-table > thead > tr > th:last-child {
        text-align: right;
    }

    #product-table > tbody > tr > td,
    #delivery-note-table > tbody > tr > td,
    #task-table > tbody > tr > td {
        border-bottom: 1px solid #e6e6e6;
        padding: 1rem;
    }

    #product-table > tbody > tr > td:first-child,
    #delivery-note-table > tbody > tr > td:first-child,
    #task-table > tbody > tr > td:first-child {
        color: var(--primary-color);
    }

    #product-table > tbody > tr > td:last-child,
    #delivery-note-table > tbody > tr > td:last-child,
    #task-table > tbody > tr > td:last-child {
        text-align: right;
    }

    .task-time-details {
        display: block;
        margin-top: 5px;
        color: grey;
    }

    #table-totals {
        page-break-inside: avoid;
    }

    #table-totals {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 80px;
    }

    #table-totals .totals-table-right-side > * {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #table-totals > .totals-table-right-side > * > :nth-child(1) {
        text-align: left;
        padding: 7px;
    }

    #table-totals > .totals-table-right-side > * > :nth-child(2) {
        text-align: right;
        padding: 7px;
    }

    #table-totals
    > *
    [data-element='total-table-balance-due-label'],
    #table-totals
    > *
    [data-element='total-table-balance-due'] {
        font-weight: bold;
    }

    #table-totals > * > :last-child {
        text-align: right;
        padding-right: 1rem;
    }

    [data-ref="total_table-footer"] {
        padding-left: 1rem
    }

    [data-ref="totals_table-outstanding-label"],
    [data-ref="totals_table-outstanding"] {
        background-color: var(--primary-color);
        color: white;
    }

    #footer {
        margin-top: 30px;
    }
</style>

<div id="header"></div>

<div id="body">
    <div class="header-wrapper">
        <div class="top-right-side-section">
            <span class="header-invoice-number">$entity_number_label: $entity_number</span>
            <span>$date_label: $date</span>
        </div>

        <div class="logo-and-partial-entity-info">
            <img class="company-logo" src="$company.logo"
                 alt="$company.name logo">
            <div class="top-right-side-section">
                <section>
                    <span class="header-payment-due-label">$payment_due_label:</span>
                    <span>$payment_due</span>
                </section>

                <section>
                    <span class="header-amount-due-label">$amount_due_label:</span>
                    <span class="header-amount-due-value">$amount_due</span>
                </section>
            </div>
        </div>
    </div>

    <div class="hero-section">
        <div class="hero-contact-section">
            <div class="client-details">
                <span class="client-details-to-label">$from_label:</span>
                <div id="client-details"></div>
            </div>
            <div class="company-details">
                <span class="client-details-to-label">$to_label:</span>
                <div class="company-details-wrapper">
                    <div id="company-details"></div>
                    <div id="company-address"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="body-wrapper">
        <table id="product-table" cellspacing="0"></table>

        <table id="task-table" cellspacing="0"></table>

        <table id="delivery-note-table" cellspacing="0"></table>

        <div id="table-totals" cellspacing="0"></div>
    </div>
</div>

<div id="footer">
    <p data-ref="total_table-footer">$entity_footer</p>

    <script>
        // Clear up space a bit, if [product-table, tasks-table, delivery-note-table] isn't present.
        document.addEventListener('DOMContentLoaded', () => {
            ['product-table', 'task-table', 'delivery-note-table'].forEach((tableIdentifier) => {
                document.getElementById(tableIdentifier).childElementCount === 0
                    ? document.getElementById(tableIdentifier).style.display = 'none'
                    : '';
            });
        });
    </script>
</div>
